.ege-choice {
    position: relative;
    display: inline-block;
    margin-left: -10px;
    margin-right: -10px;
    vertical-align: top;
    min-width: 20px;
    min-height: 36px;
    user-select: none;
    margin-bottom: 0; /* Перебиваем стили ракуды */
    font-weight: inherit; /* Перебиваем стили ракуды */
    font-size: inherit; /* Перебиваем стили ракуды */
    line-height: inherit; /* Перебиваем стили ракуды */
    letter-spacing: 0; /* Перебиваем стили ракуды */
    text-transform: none; /* Перебиваем стили ракуды */
}

.ege-choice--checkbox {

}

.ege-choice--radio {

}

    .ege-choice__widget {
        opacity: 0;
        position: absolute;
        left: 15px;
        top: 11px;
    }

    .ege-choice__icon {
        position: absolute;
        z-index: 10;
        left: 12px;
        top: 8px;
        width: 20px;
        height: 20px;
        border: 1px solid var(--accent-link);
        background-color: #FFFFFF;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 2px;
    }

    .ege-choice--checkbox .ege-choice__icon {

    }

    /* Фокус при табуляциях */
    /*.choice__widget:focus ~ .choice__icon {*/
    /*    outline: auto;*/
    /*    outline-offset: 4px;*/
    /*}*/

    .ege-choice--checkbox .ege-choice__icon {
        background-image: url("../vectors/choice-checkbox.svg"); /* by default it can't be seen because of white background */
    }

    .ege-choice--radio .ege-choice__icon {
        background-image: url("../vectors/choice-radio.svg"); /* by default it can't be seen because of white background */
        border-radius: 50%;
    }

    .ege-choice__widget:checked ~ .ege-choice__icon {
        background-color: var(--accent-link);
        border-color: transparent;
    }

    .ege-choice__label {
        position: relative;
        display: flex;
        vertical-align: top;
        padding: 6px 12px 6px 42px;
        border-radius: 4px;
        font-weight: normal; /* Откуда-то свыше всё-равно прилетает 500, перекрываем */
        font-size: 15px;
        line-height: 24px;
        color: var(--primary);
        cursor: pointer;
    }


    .ege-choice__label:hover {
        background-color: var(--accent-link-low-opacity-hover);
    }

    /* Cancel radio hover */
    .ege-choice--radio .ege-choice__widget:checked ~ .ege-choice__label:hover {
        background-color: transparent;
        cursor: default;
    }







/* .choice--hidden-label */

.ege-choice--hidden-label {
    width: 44px;
    height: 36px;
}
    .choice--hidden-label .ege-choice__icon {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        margin: auto;
    }

    .choice--hidden-label .ege-choice__label {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
    }





.ege-choice__widget:disabled {

}
    .ege-choice__widget:disabled ~ .ege-choice__icon {
        border-color: #C5C5C5;
    }

    .ege-choice__widget:disabled:checked ~ .ege-choice__icon {
        background-color: #C5C5C5;
    }

    .ege-choice__widget:disabled ~ .ege-choice__label,
    .ege-choice__widget:disabled ~ .ege-choice__label:hover {
        cursor: default;
        color: #8B8B8B;
        background-color: transparent !important;
    }




.ege-choice--full-width {
    width: 100%;
}
    .ege-choice--full-width .ege-choice__label {
        width: 100%;
    }


.ege-choice--panel {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
    .ege-choice--panel .ege-choice__icon {
        left: 21px;
        top: 15px;
    }

    .ege-choice--panel .ege-choice__label {
        padding: 13px 12px 13px 50px;
        background-color: var(--secondary-1-bg);
        border-radius: 25px;
        font-weight: bold;
        font-size: 16px;
    }

    .ege-choice--panel .ege-choice__label:hover {
        background-color: var(--secondary-2);
    }
