.course {

}
    .course__navigation {

    }

    .course__jumbotron {
        margin-top: 12px;
    }

    .course__body {
        margin-top: 12px;
    }
        .course__sub-heading {

        }

        .course__sub-navigation {

        }

        .course__content {

        }



@media (768px <= width) {

    .course {

    }
        .course__navigation {
            display: none;
        }

        .course__jumbotron {

        }
            .course__jumbotron .tab-pane {
                display: block !important;
                opacity: 1 !important;
                margin-top: 12px;
            }

            .course__jumbotron .tab-pane:first-child {
                margin-top: 0;
            }

        .course__body {

        }
            .course__sub-heading {
                padding: 30px 30px 10px;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
            }


            .course__sub-navigation {

            }
                .course__sub-navigation .nav {
                    padding-left: 10px;
                    padding-right: 10px;
                }

            .course__content {

            }

}
