.course {

}
    .course__navigation {

    }

    .course__jumbotron {
        margin-top: 12px;
    }

    .course__body {
        margin-top: 12px;
    }


@media (768px <= width) {

    .course {

    }
        .course__navigation {
            display: none;
        }

        .course__jumbotron {

        }
            .course__jumbotron .tab-pane {
                display: block !important;
                opacity: 1 !important;
                margin-top: 12px;
            }

            .course__jumbotron .tab-pane:first-child {
                margin-top: 0;
            }

        .course__body {

        }
}
