.ege-all-courses {
    position: relative;
}
    .ege-all-courses__navigation {
        margin-left: calc(-1 * var(--rakuda-container-padding));
        margin-right: calc(-1 * var(--rakuda-container-padding));
    }

    .ege-all-courses__filter {
        position: absolute;
        right: 30px;
        top: 0;
    }


@media (width < 740px) {

    .ege-all-courses {
        /*position: relative;*/
    }
        .ege-all-courses__navigation {
            /*margin-left: calc(-1 * var(--rakuda-container-padding));*/
            /*margin-right: calc(-1 * var(--rakuda-container-padding));*/
        }

        .ege-all-courses__filter {
            margin-top: 20px;
            position: static;
        }
}


