.ege-course {

}
    .ege-course__navigation {
        margin-left: calc(-1 * var(--rakuda-container-padding));
        margin-right: calc(-1 * var(--rakuda-container-padding));
    }

    .ege-course__jumbotron {
        margin-top: 12px;
    }

    .ege-course__body {
        margin-top: 12px;
    }
        .ege-course__search {
            padding: 30px 30px 20px;
        }

        .ege-course__sub-heading {
            padding: 30px 30px 10px;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
        }

        .ege-course__sub-navigation {
            position: relative;
        }
            .ege-course__filter {
                position: absolute;
                right: 30px;
                top: 0;
            }

        .ege-course__content {
            padding: 11px 30px 30px;
        }



@media (768px <= width) {

    .ege-course {

    }
        .ege-course__navigation {
            display: none;
        }

        .ege-course__jumbotron {

        }
            .ege-course__jumbotron .tab-pane {
                display: block !important;
                opacity: 1 !important;
                margin-top: 12px;
            }

            .ege-course__jumbotron .tab-pane:first-child {
                margin-top: 0;
            }

        .ege-course__body {

        }
            .ege-course__sub-heading {

            }


            .ege-course__sub-navigation {

            }
                .ege-course__sub-navigation .nav {

                }

                .ege-course__filter {

                }

            .ege-course__content {

            }
}



@media (width < 768px) {

    .ege-course {

    }
        .ege-course__navigation {
            /*display: none;*/
        }

        .ege-course__jumbotron {

        }
            .ege-course__jumbotron .tab-pane {
                /*display: block !important;*/
                /*opacity: 1 !important;*/
                /*margin-top: 12px;*/
            }

            .ege-course__jumbotron .tab-pane:first-child {
                /*margin-top: 0;*/
            }

        .ege-course__body {

        }
            .ege-course__sub-heading {
                /*padding: 30px 30px 10px;*/
                /*font-weight: bold;*/
                /*font-size: 16px;*/
                /*line-height: 24px;*/
            }

            .ege-course__search {
                padding-left: 20px;
                padding-right: 20px;
            }

            .ege-course__sub-navigation {

            }
                .ege-course__sub-navigation .nav {
                    padding-left: 20px;
                    padding-right: 20px;
                }

                .ege-course__filter {
                    position: static;
                    margin-top: 16px;
                    margin-left: 20px;
                }

            .ege-course__content {
                padding-left: 20px;
                padding-right: 20px;
            }
}
