.ege-all-courses {
    position: relative;
}
    .ege-all-courses__navigation {

    }

    .ege-all-courses__filter {
        position: absolute;
        right: 0;
        top: 0;
    }

    .ege-all-courses__list {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: 12px;
    }
        .ege-all-courses__item {
            max-width: 380px;
            margin-left: auto;
            margin-right: auto;
        }
