/* Кейс а) 1 плитка | 2 плитки | 3 плитки */
.ege-progress {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    gap: 12px;
}
    .ege-progress__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
    }
        .ege-chart__value {

        }

        .ege-progress__data {
            font-size: var(--caption-font-size);
            line-height: var(--caption-line-height);
            text-align: right;
        }
            .ege-progress__numbers {
                font-size: 16px;
                line-height: 24px;
            }

            .ege-progress__label {
                margin-top: 2px;
                font-size: 14px;
                line-height: 20px;
            }



/* кейс б) 4 плитки */
.ege-progress:has(:nth-child(4):last-child) {
    grid-auto-flow: unset;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}


/* кейс в) 5 плиток */
.ege-progress:has(:nth-child(5):last-child) {
    grid-auto-flow: unset;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}
    /* Первые три: */
    .ege-progress:has(:nth-child(5):last-child) .ege-progress__item {
        grid-column: span 2;
    }

    /* Четвёртая и пятая: */
    .ege-progress:has(:nth-child(5):last-child) .ege-progress__item:nth-child(4),
    .ege-progress:has(:nth-child(5):last-child) .ege-progress__item:nth-child(5) {
        grid-column: span 3;
    }


/* кейс г) 6 плитки */
.ege-progress:has(:nth-child(6):last-child) {
    grid-auto-flow: unset;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}



@media (width < 768px) {

    .ege-progress {
        display: block;
        padding-top: 12px;
    }
        .ege-progress__item {
            margin-top: 12px;
        }

        .ege-progress__item:first-child {
            margin-top: 0;
        }
            .ege-chart__value {

            }

            .ege-progress__data {

            }
                .ege-progress__numbers {

                }

                .ege-progress__label {

                }
}
