.ege-lessons {
    --padding: 12px;
}


.ege-lessons {
    width: 100%;
    border-collapse: collapse;
    vertical-align: top;
}
    .ege-lessons__body {

    }
        .ege-lessons__row {
            border-top: 1px solid var(--secondary-2);
        }

        .ege-lessons__row:first-child {
            border-top: none;
        }
            .ege-lessons__status {
                width: 1px;
                padding: var(--padding) 0 var(--padding) 12px;
            }

            .ege-lessons__heading {
                padding: var(--padding) 16px;
                font-weight: inherit;
                font-size: var(--body-font-size);
                line-height: var(--body-line-height);
            }

            .ege-lessons__duration {
                width: 102px;
                padding: var(--padding) 16px var(--padding) 0;
                font-size: var(--caption-font-size);
                line-height: var(--caption-line-height);
                white-space: nowrap;
            }

            .ege-lessons__progress {
                width: 56px;
                padding: var(--padding) 12px var(--padding) 0;
                font-size: var(--caption-font-size);
                line-height: var(--caption-line-height);
                white-space: nowrap;
            }



@media (width < 768px) {

    .ege-lessons {

    }


    .ege-lessons {
        display: block;
    }
        .ege-lessons__body {
            display: block;
        }
            .ege-lessons__row {
                padding-top: 12px;
                padding-bottom: 14px;
                display: grid;
                grid-template-columns: auto 1fr 1fr;
                grid-template-areas:
                    "left top top"
                    "left bottomleft bottomriigh"
            }

            .ege-lessons__row:first-child {

            }
                .ege-lessons__status {
                    display: grid;
                    grid-area: left;
                    width: auto;
                    padding: 0 16px 0 0;
                    align-items: center;
                }

                .ege-lessons__heading {
                    display: block;
                    grid-area: top;
                    padding: 0 0 8px;
                }

                .ege-lessons__duration {
                    display: block;
                    grid-area: bottomleft;
                    width: auto;
                    padding: 0;
                }

                .ege-lessons__progress {
                    display: block;
                    grid-area: bottomriigh;
                    width: auto;
                    padding: 0;
                    text-align: right;
                }
}
