.ege-checkbox-panel {
    background-color: var(--secondary-1-bg);
    border-radius: 25px;
}
    .ege-checkbox-panel [class*="icheck-material"] > label {
        border: 15px solid transparent;
        border-left-width: 20px;
        border-right-width: 20px;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #201D1B;
        text-transform: none;
        letter-spacing: inherit;
    }
