.ege-courses-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 12px;
}
    .ege-courses-grid__item {
        max-width: 380px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }



@media (width < 740px) {

    .ege-courses-grid {
        /*margin-top: 30px;*/
        /*display: grid;*/
        /*grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));*/
        /*gap: 12px;*/
    }
        .ege-courses-grid__item {
            /*max-width: 380px;*/
            /*margin-left: auto;*/
            /*margin-right: auto;*/
        }
}


