.ege-progress {
    /*margin-left: -6px;*/
    /*margin-right: -6px;*/
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    gap: 12px;
}
    .ege-progress__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
    }
        .ege-chart__value {

        }

        .ege-progress__data {
            font-size: var(--caption-font-size);
            line-height: var(--caption-line-height);
            text-align: right;
        }
            .ege-progress__numbers {
                font-size: 16px;
                line-height: 24px;
            }

            .ege-progress__label {
                margin-top: 2px;
                font-size: 14px;
                line-height: 20px;
            }



@media (width < 768px) {

    .ege-progress {
        display: block;
        padding-top: 12px;
    }
        .ege-progress__item {
            margin-top: 12px;
        }

        .ege-progress__item:first-child {
            margin-top: 0;
        }
            .ege-chart__value {

            }

            .ege-progress__data {

            }
                .ege-progress__numbers {

                }

                .ege-progress__label {

                }
}
