.ege-filter {
    position: relative;
}
    .ege-filter .dropdown-menu {
        top: 100% !important;
        right: 0 !important;
        left: auto !important;
        bottom: auto !important;
        transform: none !important;
    }
        .ege-filter__widgets {
            padding: 20px 24px;
        }

        .ege-filter .dropdown-divider {

        }

        .ege-filter__actions {
            display: flex;
            align-items: flex-start;
            padding: 16px 24px 12px;
        }



@media (width < 740px) {

    .ege-filter {

    }
        .ege-filter .dropdown-menu {
            /*top: 100% !important;*/
            margin-top: 10px;
            right: auto !important;
            left: 0 !important;
            /*bottom: auto !important;*/
            /*transform: none !important;*/
        }
            .ege-filter__widgets {
                /*padding: 20px 24px 32px;*/
                padding-top: 10px;
                padding-bottom: 14px;
            }

            .ege-filter .dropdown-divider {

            }

            .ege-filter__actions {
                /*display: flex;*/
                /*align-items: flex-start;*/
                /*padding: 16px 24px 12px;*/
            }
}
