.ege-textbook {

}
    .ege-textbook__navigation {
        margin-left: calc(-1 * var(--rakuda-container-padding));
        margin-right: calc(-1 * var(--rakuda-container-padding));
    }

    .ege-textbook__progress {

    }

    .ege-textbook__body {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 828fr 280fr;
        gap: 12px;
    }

    .ege-textbook__body:first-child {
        margin-top: 0;
    }

        .ege-textbook__sidebar {

        }
            .ege-textbook__progress {
                background-color: #FFFFFF;
                border-radius: 12px;
            }
                .ege-textbook__progress-heading {
                    position: relative;
                    padding: 18px 30px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                }
                    .ege-textbook__progress-hint {
                        position: absolute;
                        right: 30px;
                        top: 20px;
                    }
                        .ege-textbook__progress-hint .fa {
                            color: #CBC0B4;
                        }

                .ege-textbook__progress-completion {
                    border-top: 1px solid #F6F4F2;
                    padding: 25px 30px 30px;
                }

                .ege-textbook__progress-completion:first-child {
                    border-top: none;
                }
                    .ege-textbook__time {
                        margin-bottom: 20px;
                        color: var(--text-secondary);
                    }

                    .ege-textbook__progress-widget {
                        display: flex;
                        align-items: center;
                        gap: 16px;
                    }
                        .ege-textbook__bar {
                            flex-grow: 1;
                        }

                        .ege-textbook__value {
                            flex-shrink: 0;
                        }


        .ege-textbook__content {
            order: -1;
        }
            .ege-textbook__lesson {
                padding: 24px 30px 30px;
            }

            .ege-textbook__addition {
                margin-top: 12px;
            }
                .ege-textbook__sub-nav {
                    padding-top: 10px;
                }

                .ege-textbook__related {
                    padding: 30px 30px 20px;
                }


@media (width < 768px) {

    .ege-textbook {

    }
        .ege-textbook__navigation {

        }

        .ege-textbook__progress {

        }

        .ege-textbook__body {
            /*margin-top: 30px;*/
            display: block;
            /*grid-template-columns: 828fr 280fr;*/
            /*gap: 12px;*/
        }
            .ege-textbook__sidebar {
                margin-bottom: 4px;
            }
                .ege-textbook__progress {
                    /*background-color: #FFFFFF;*/
                    /*border-radius: 12px;*/
                }
                    .ege-textbook__progress-heading {
                        /*padding: 18px 30px;*/
                        /*font-weight: 600;*/
                        /*font-size: 16px;*/
                        /*line-height: 24px;*/
                    }

                    .ege-textbook__progress-completion {
                        /*border-top: 1px solid #F6F4F2;*/
                        /*padding: 25px 30px 30px;*/
                    }

            .ege-textbook__content {
                /*order: -1;*/
            }
}
