.ege-progress {
    /*margin-left: -6px;*/
    /*margin-right: -6px;*/
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    gap: 12px;
}
    .ege-progress__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
    }
        .ege-progress__value {
            display: flex;
            align-items: center;
            gap: 12px;
        }
            .ege-progress__chart {

            }

            .ege-progress__text-value {
                font-size: 20px;
                line-height: 24px;
            }

        .ege-progress__data {
            font-size: var(--caption-font-size);
            line-height: var(--caption-line-height);
            text-align: right;
        }
