.ege-course-tile {
    min-height: 100%;
    padding: 20px 24px 30px;
    display: flex;
    flex-direction: column;
}
    .ege-course-tile__preview {
        display: block;
        margin-top: -20px;
        margin-left: -24px;
        margin-right: -24px;
    }

    .ege-course-tile__preview--clickable:hover {
        filter: brightness(105%) contrast(105%);
    }
        .ege-course-tile__image {
            vertical-align: top;
            width: 100%;
            height: auto;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }

    .ege-course-tile__heading {
        margin-top: 22px;
        margin-bottom: 0;
        font-family: var(--font-heading);
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    }

    .ege-course-tile__notes {
        margin-top: auto;
        padding-top: 12px;
        font-size: var(--caption-font-size);
        line-height: calc(var(--caption-line-height) - 2px);
        color: var(--text-secondary);
    }
        .ege-course-tile__note-item {
            margin-top: 3px;
        }

        .ege-course-tile__note-item:first-child {
            margin-top: 0;
        }

        .ege-course-tile__notes:has(.ege-course-tile__note-item:nth-child(2)) .ege-course-tile__note-item {
            position: relative;
            padding-left: 16px;
        }
        .ege-course-tile__notes:has(.ege-course-tile__note-item:nth-child(2)) .ege-course-tile__note-item::before {
            content: "•";
            position: absolute;
            left: 0;
            top: 0;
        }

    .ege-course-tile__settings {
        margin-top: 10px;
        display: block;
        width: fit-content;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 15px;
        line-height: 20px;
        color: var(--accent-link);
    }

    .ege-course-tile__progress {
        margin-top: 24px;
    }
