.ege-welcome {
    display: grid;
    grid-template-columns: minmax(0, calc(66.6666% + 8px)) minmax(0, calc(33.3333% - 8px)); /* 8px потому что на отступ меньше, немного странно он пересчитывается */
    gap: 12px;
}
    .ege-welcome__body {
        /*padding-right: 6px;*/
    }
        .ege-welcome__body-inner {
            display: flex;
            align-items: flex-start;
            gap: 32px;
            padding: 40px 32px;
        }
            .ege-welcome__illustration {

            }

            .ege-welcome__summary {
                max-width: 419px;
            }
                .ege-welcome__heading {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-size: 24px;
                    line-height: 29px;
                }

                .ege-welcome__description {
                    margin-top: 15px;
                    font-size: 16px;
                    line-height: 22px;
                }

                .ege-welcome__begin {
                    margin-top: 24px;
                }

    .ege-welcome__event {
        /*padding-left: 6px;*/
        display: flex;
        flex-direction: column;
    }
        .ege-welcome__event-inner {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }
            .ege-welcome__event-heading {
                padding: 18px 30px;
                border-bottom: 1px solid #F6F4F2;
                font-weight: bold;
                font-size: var(--body-font-size);
                line-height: var(--body-line-height);
            }

            .ege-welcome__event-body {
                flex-grow: 1;
                max-width: 365px;
                padding: 15px 30px 24px;
                display: flex;
                flex-direction: column;
            }
                .ege-welcome__time {
                    color: var(--text-secondary);
                }
                    .ege-welcome__time i {
                        margin-right: 4px;
                        margin-top: -1px;
                    }

                .ege-welcome__topic {
                    margin-top: 10px;
                }

                .ege-welcome__details {
                    margin-top: auto;
                    font-weight: bold;
                    padding-top: 12px;
                    padding-bottom: 4px;
                }



@media (width < 768px) {

    .ege-welcome {
        display: block;
        /*grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);*/
        /*gap: 12px;*/
    }
        .ege-welcome__body {
            padding-right: 0;
        }
            .ege-welcome__body-inner {
                display: block;
                /*align-items: flex-start;*/
                /*gap: 32px;*/
                /*padding: 40px 32px;*/
            }
                .ege-welcome__illustration {

                }

                .ege-welcome__summary {
                    margin-top: 12px;
                    /*max-width: 419px;*/
                }
                    .ege-welcome__heading {
                        /*margin-top: 0;*/
                        /*margin-bottom: 0;*/
                        /*font-size: 24px;*/
                        /*line-height: 29px;*/
                    }

                    .ege-welcome__description {
                        /*margin-top: 15px;*/
                        /*font-size: 16px;*/
                        /*line-height: 22px;*/
                    }

                    .ege-welcome__begin {
                        /*margin-top: 24px;*/
                    }

        .ege-welcome__event {
            margin-top: 12px;
            padding-left: 0;
        }
            .ege-welcome__event-inner {
                /*display: flex;*/
                /*flex-direction: column;*/
            }
                .ege-welcome__event-heading {
                    /*padding: 18px 30px;*/
                    /*border-bottom: 1px solid #F6F4F2;*/
                    /*font-weight: bold;*/
                    /*font-size: var(--body-font-size);*/
                    /*line-height: var(--body-line-height);*/
                }

                .ege-welcome__event-body {
                    /*flex-grow: 1;*/
                    /*max-width: 365px;*/
                    /*padding: 15px 30px 24px;*/
                    /*display: flex;*/
                    /*flex-direction: column;*/
                }
                    .ege-welcome__time {
                        /*color: var(--text-secondary);*/
                    }
                        .ege-welcome__time i {
                            /*margin-right: 4px;*/
                            /*margin-top: -1px;*/
                        }

                    .ege-welcome__topic {
                        /*margin-top: 10px;*/
                    }

                    .ege-welcome__details {
                        /*margin-top: auto;*/
                        /*font-weight: bold;*/
                    }
}
