:root {
    --body-font-size: 16px;
    --body-line-height: 24px;
    --caption-font-size: 14px;
    --caption-line-height: 21px;
}

:root {
    --rakuda-container-padding: 30px;
}

@media (width < 740px) {
    :root {
        --rakuda-container-padding: 24px;
    }
}
