@font-face {
    font-display: swap;
    font-family: "Manrope";
    font-weight: normal;
    font-style: normal;
    src: url("manrope-v15-cyrillic_latin-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Manrope";
    font-weight: bold;
    font-style: normal;
    src: url("manrope-v15-cyrillic_latin-700.woff2") format("woff2");
}
