:root {
    /* Figma */
    --primary: #111111;
    --accent: #7E8B2E;
    --accent-link: #111111;
    --secondary-4: #C1C1C1;
    --secondary-3: #E0D8D0;
    --secondary-2: #EFEAE5;
    --secondary-1-bg: #F6F6F6;
    --accent-2: #FFF5E7;
    --divider-color: #EFEAE5;
    --text-secondary: #A7A7A7;
    --text-secondary-2: #C7BBB0;
    --text-secondary-3: #E0D8D0;
    --shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.04);
    --shadow-small: 2px 2px 12px 0 rgba(0, 0, 0, 0.04);
    --font-body: "Manrope", sans-serif;
    --font-heading: "RF Dewi Extended";

    /* Own */
    --success: var(--accent);
    --danger: red;
    --focus-ring: rgba(128, 128, 128, 0.5);
    --panel-bg: #F4F4F4;
    --text-hover: #888888;
}
