/* bugfixes */

.dropdown-menu li {
    cursor: pointer;
}


/* colors and fonts */

body {
    background-color: var(--secondary-1-bg);
    font-family: var(--font-body);
    font-weight: 500;
    font-size: 16px;
    color: var(--primary);
    letter-spacing: 0.01em;
}



input,
button {
    font-weight: inherit;
}

label {
    color: var(--primary);
}

hr {
    border-top-color: var(--divider-color);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    color: var(--primary);
}


.page-title {
    font-family: var(--font-heading);
}


.text-secondary {
    color: var(--text-secondary) !important;
}

.text-secondary-2 {
    color: var(--text-secondary-2) !important;
}

.text-secondary-3 {
    color: var(--text-secondary-3) !important;
}



.link {
    text-decoration-thickness: 1px;
    text-underline-offset: 0.25em;
    color: var(--accent-link);
}

.link:hover {
    text-decoration: underline;
}


.error {
    color: var(--danger);
}




.text-primary {
    color: var(--accent-link) !important;
}

.text-success {
    color: var(--success);
}

.text-danger {
    color: var(--danger);
}




.bg-primary {
    background-color: var(--accent-link);
}

.bg-success {
    background-color: var(--success);
}

.bg-danger {
    background-color: var(--danger);
}


.border-primary {
    border-color: var(--accent-link);
}

.border-success {
    border-color: var(--success);
}

.border-danger {
    border-color: var(--danger);
}


.badge-primary {
    background-color: var(--accent-link);
}

.badge-success {
    background-color: var(--success);
}

.badge-danger {
    background-color: var(--danger);
}


.btn-group, .btn-group-vertical {
    border-radius: 23px;
}


.btn {
    height: 46px;
    padding: 12px 24px;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    border-radius: 23px;
    text-transform: none;
    letter-spacing: 0;
    box-shadow: none !important;
}

.btn-primary {
    background-color: var(--accent-link);
    border-color: var(--accent-link);
    color: #FFFFFF;
}

.btn-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #FFFFFF;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: var(--secondary-2);
    border-color: var(--secondary-2);
    color: #FFFFFF;
    cursor: default;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #FFFFFF;
}


.btn-outline-primary {
    border-color: var(--accent-link);
    color: var(--accent-link)
}

.btn-outline-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #FFFFFF;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #FFFFFF;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    background-color: var(--secondary-2);
    border-color: var(--secondary-2);
    color: #FFFFFF;
    cursor: default;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #FFFFFF;
}


.btn-success {
    background-color: var(--success);
    border-color: var(--success);
    color: #FFFFFF;
}

.btn-success:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #FFFFFF;
}

.btn-success.disabled, .btn-success:disabled {
    background-color: var(--secondary-2);
    border-color: var(--secondary-2);
    color: #FFFFFF;
    cursor: default;
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #FFFFFF;
}


.btn-outline-success {
    color: var(--success);
    border-color: var(--success);
}

.btn-outline-success:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #FFFFFF;
}

.btn-outline-success.focus, .btn-outline-success:focus {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #FFFFFF;
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
    background-color: var(--secondary-2);
    border-color: var(--secondary-2);
    color: #FFFFFF;
    cursor: default;
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show > .btn-outline-success.dropdown-toggle {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #FFFFFF;
}


.btn-danger {
    color: #fff;
    background-color: var(--danger);
    border-color: var(--danger);
}

.btn-danger:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #FFFFFF;
}

.btn-danger.disabled, .btn-danger:disabled {
    background-color: var(--secondary-2);
    border-color: var(--secondary-2);
    color: #FFFFFF;
    cursor: default;
}

.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show > .btn-danger.dropdown-toggle {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #FFFFFF;
}


.btn-outline-danger {
    color: var(--danger);
    border-color: var(--danger)
}

.btn-outline-danger:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #FFFFFF;
}

.btn-outline-danger.focus, .btn-outline-danger:focus {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #FFFFFF;
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
    background-color: var(--secondary-2);
    border-color: var(--secondary-2);
    color: #FFFFFF;
    cursor: default;
}

.btn-outline-danger:not(:disabled):not(.disabled).active, .btn-outline-danger:not(:disabled):not(.disabled):active, .show > .btn-outline-danger.dropdown-toggle {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #FFFFFF;
}



/* Table */

.table thead th {
    border-color: var(--divider-color);
}

.table td, .table th {
    border-color: var(--divider-color);
}

.table-hover tbody tr:hover {
    background-color: var(--secondary-1-bg);
}



/* Card */

.card {
    box-shadow: var(--shadow);
    border-radius: 12px;
}

.card-header:first-child {
    border-radius: 12px 12px 0 0;
    border-bottom-color: var(--divider-color);
}
    .card-header {
        color: var(--primary);
    }


/* Dropdown */

.dropdown-menu {
    border-radius: 12px;
}

.dropdown-divider {
    margin-top: 8px;
    margin-bottom: 8px;
    border-color: var(--divider-color);
}

.dropdown-menu a {
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
}

.dropdown-item:focus, .dropdown-item:hover {
    color: var(--accent-link);
    background-color: var(--secondary-1-bg);
}



/* Breadcrumbs */

.breadcrumb a {
    color: var(--accent-link);
}

.breadcrumb-item.active {
    color: var(--text-secondary);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--text-secondary);
}



/* Header */

.toggle-menu i {
    color: var(--primary);
}

.topbar-nav .navbar {
    box-shadow: var(--shadow);
}



/* User */
.right-nav-link a.nav-link {
    color: var(--primary);
}

.user-details .media .media-body .user-title {
    color: var(--primary);
}

.user-details .media .media-body .user-subtitle {
    color: var(--primary);
}



/* Sidebar */

.brand-logo {
    border-bottom-color: var(--secondary-1-bg);
}

#sidebar-wrapper {
    box-shadow: var(--shadow);
}

.sidebar-menu li.sidebar-header {
    color: var(--text-secondary);
}

.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
    border-left-color: var(--accent-link);
    background-color: var(--secondary-1-bg);
    color: var(--primary);
}

.sidebar-menu > li > a > .fa {
    color: var(--secondary-4);
}

.sidebar-menu > li > a {
    color: var(--primary);
}

.sidebar-menu .sidebar-submenu>li.active>a, .sidebar-menu .sidebar-submenu>li>a:hover {
    color: var(--text-hover);
}



/* .lobibox-notify */

.lobibox-notify.lobibox-notify-error {
    border-color: var(--danger);
    background-color: var(--danger);
    color: #FFF
}

.lobibox-notify.lobibox-notify-error:hover {
    background-color: var(--danger);
    border-color: #FFF
}

.lobibox-notify.lobibox-notify-success {
    border-color: var(--success);
    background-color: var(--success);
    color: #FFF
}

.lobibox-notify.lobibox-notify-success:hover {
    background-color: var(--success);
    border-color: #FFF
}


/* Footer */

.footer {
    border-color: var(--divider-color);
    background-color: transparent;
    color: var(--text-secondary);
}




/* Paginations */
.page-link {
    color: var(--accent-link);
    border-color: var(--divider-color);
}

.page-link:hover {
    color: var(--accent-link);
    background-color: var(--secondary-1-bg);
}

.page-link:focus {
    box-shadow: 0 0 0 .2rem var(--focus-ring);
}

.page-item.active .page-link {
    background-color: var(--accent-link);
    border-color: var(--accent-link);
    color: #FFFFFF;
}

.page-item.disabled .page-link {
    color: var(--text-secondary);
    background-color: var(--secondary-2);
    border-color: var(--divider-color);
}


/* Forms */
.form-control {
    min-width: 71px;
    height: 48px;
    padding: 11px 20px;
    font-size: var(--body-font-size); /* 16px */
    line-height: var(--body-line-height); /* 24px */
    border-color: var(--secondary-3);
    color: var(--primary);
    border-radius: 24px;
}

.form-control::placeholder {
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
}


.form-control:not(:disabled):hover {
    border-color: var(--focus-ring);
}


.form-control:not(:disabled):focus {
    border-color: var(--focus-ring);
    box-shadow: 0 0 0 0.2rem var(--focus-ring);
}

.form-control[type="password"]:not(:placeholder-shown) {
    font-family: "Tahoma", sans-serif;
    letter-spacing: 2px;
}

select.form-control {
    appearance: none;
    padding-right: 38px;
    background-image: url("../vectors/chevron-bottom.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
}

.form-control-sm {
    min-width: 50px;
    height: 36px;
    padding: 7px 12px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 6px;
}

select.form-control-sm {
    padding-right: 30px;
    background-size: 18px 18px;
    background-position: right 6px center;
}

/* Empty, not touched state: */
.has-resting-state:placeholder-shown:not(:hover):not(:focus-within) {
    background-color: var(--secondary-1-bg);
    border-color: var(--secondary-1-bg);
    color: var(--text-secondary-2);
}

.has-resting-state:placeholder-shown::placeholder {
    color: var(--text-secondary-2);
}


/* Multi select */

.ms-container .ms-selectable, .ms-container .ms-selection {
    color: var(--primary);
}


.ms-container .ms-list {
    box-shadow: inset 0 1px 1px rgba(239, 234, 229, 0.5);
    border-color: var(--divider-color);
    border-radius: .25rem; /* Как у инпутов в бутстрапе */
}

.ms-container .ms-list.ms-focus {
    border-color: var(--accent-link);
    box-shadow: inset 0 1px 1px rgba(239, 234, 229, 0.5), 0 0 8px var(--focus-ring);
}

.ms-container .ms-optgroup-label {
    color: var(--text-secondary);
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection {
    border-bottom: 1px solid var(--divider-color);
    color: var(--primary);
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover {
    background-color: var(--secondary-1-bg);
}

.ms-container .ms-selectable li.disabled,
.ms-container .ms-selection li.disabled {
    background-color: #eee;
    color: var(--divider-color);
    cursor: text;
}



/* Back to top */

.back-to-top {
    background-color: var(--accent-link);
    box-shadow: 1px 1px 40px 0 var(--accent-link);
}



/* Nav tabs */

.nav-tabs {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-left: var(--rakuda-container-padding);
    padding-right: var(--rakuda-container-padding);
    border-bottom: none !important;
    white-space: nowrap;
}

.nav-tabs .nav-item {
    margin-left: 32px;
    margin-bottom: 0;
}

.nav-tabs .nav-item:first-child {
    margin-left: 0;
}

.nav-tabs .nav-link {
    padding: 18px 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-secondary);
    text-transform: none;
    letter-spacing: 0;
}


.nav-tabs .nav-link:hover {
    color: var(--accent-link);
}



/* Цвет */
.nav-tabs-primary.nav-tabs {
    box-shadow: inset 0 -1px 0 #E6E1DB;
}

.nav-tabs-primary .nav-link.active,
.nav-tabs-primary .nav-item.show > .nav-link {
    position: relative;
    background-color: transparent;
    color: var(--accent-link);
    border: none;
}

.nav-tabs-primary .nav-link.active::after,
.nav-tabs-primary .nav-item.show > .nav-link {
    content: "";
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background-color: var(--accent-link);
    border-radius: 2px;
}

.nav-tabs-primary .badge {
    box-shadow: none;
}

.nav-tabs-primary .badge-light {
    background-color: var(--secondary-2);
    color: var(--text-secondary);
}


.nav-tabs-primary .badge-primary {
    background-color: rgb(255 122 0 / 10%);
    color: var(--accent-link);
}



/* Select2 */

.select2-dropdown {
    border-color: var(--divider-color);
}

.select2-container--default .select2-selection--single {
    border: 1px solid var(--divider-color);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--primary);
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: var(--text-secondary)
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: var(--secondary-4) transparent transparent transparent;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: var(--secondary-3);
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent var(--secondary-4) transparent;
}

.select2-container--default .select2-selection--multiple {
    border-color: var(--divider-color);
}

/*.select2-container--default .select2-selection--multiple .select2-selection__choice {*/
/*    background-color: #e4e4e4;*/
/*    border-color: var(--divider-color);*/
/*}*/

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: var(--text-secondary);
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: var(--primary)
}

/*.select2-container--default.select2-container--focus .select2-selection--multiple {*/
/*    border: solid black 1px;*/
/*    outline: 0*/
/*}*/

/*.select2-container--default.select2-container--disabled .select2-selection--multiple {*/
/*    background-color: #eee;*/
/*    cursor: default*/
/*}*/

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: var(--divider-color);
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    color: var(--text-secondary);
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: var(--secondary-1-bg);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--accent-link);
}



/* WYSIWYG */

.tox-tinymce {
    border-color: var(--divider-color);
}

.tox .tox-tbtn:hover {
    background-color: var(--secondary-2);
}

.tox .tox-tbtn:active {
    background-color: var(--secondary-3);
}

.tox .tox-tbtn--enabled, .tox .tox-tbtn--enabled:hover {
    background-color: var(--secondary-2);
}


.tox .tox-split-button:focus {
    background: var(--secondary-2);
}


.tox .tox-collection--toolbar .tox-collection__item--active {
    background-color: var(--secondary-3);
}

.tox .tox-tbtn:focus {
    background-color: var(--secondary-3);
}


.tox .tox-mbtn:hover:not(:disabled):not(.tox-mbtn--active) {
    background-color: var(--secondary-2);
}

.tox .tox-mbtn:focus:not(:disabled) {
    background-color: var(--secondary-2);
}


.tox .tox-mbtn--active {
    background-color: var(--secondary-3);
}

.tox .tox-collection--list .tox-collection__item--active {
    background-color: var(--secondary-2);
}

.tox .tox-statusbar {
    border-color: var(--divider-color);
}

.tox .tox-statusbar a, .tox .tox-statusbar__path-item, .tox .tox-statusbar__wordcount {
    color: var(--text-secondary);
}

.tox .tox-statusbar a:focus:not(:disabled):not([aria-disabled=true]), .tox .tox-statusbar a:hover:not(:disabled):not([aria-disabled=true]), .tox .tox-statusbar__path-item:focus:not(:disabled):not([aria-disabled=true]), .tox .tox-statusbar__path-item:hover:not(:disabled):not([aria-disabled=true]), .tox .tox-statusbar__wordcount:focus:not(:disabled):not([aria-disabled=true]), .tox .tox-statusbar__wordcount:hover:not(:disabled):not([aria-disabled=true]) {
    color: var(--primary);
}


.tox .tox-insert-table-picker .tox-insert-table-picker__selected {
    background-color: var(--focus-ring);
    border-color: var(--focus-ring);
}


.progress-bar {
    background-color: var(--accent-link);
}



/* Чекбокс */
[class*="icheck-material"] > input:first-child + label::before, [class*="icheck-material"] > input:first-child + input[type="hidden"] + label::before {
    border-color: var(--secondary-3);
}

.icheck-material-primary > input:first-child:not(:checked):not(:disabled):hover + label::before, .icheck-material-primary > input:first-child:not(:checked):not(:disabled):hover + input[type="hidden"] + label::before {
    border-color: var(--focus-ring);
}

/* шарик анимации: */
.icheck-material-primary > input:first-child {
    background-color: var(--accent-link);
}

.icheck-material-primary > input:first-child:checked + label::before, .icheck-material-primary > input:first-child:checked + input[type="hidden"] + label::before {
    background-color: var(--accent-link);
    border-color: var(--accent-link);
}



