<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Онлайн</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- schema.org (google plus) -->
        <meta itemprop="url" content="[%url%]">
        <meta itemprop="image" content="[%img%]">
        <meta itemprop="name" content="[%title%]">
        <meta itemprop="description" content="[%description%]">

        <!-- ogp.me (facebook & vkontakte) -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="[%url%]">
        <meta property="og:image" content="[%img%]">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="675">
        <meta property="og:title" content="[%title%]">
        <meta property="og:description" content="[%description%]">
        <meta property="fb:app_id" content="[%facebook-app-id%]">

        <!-- twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="[%url%]">
        <meta name="twitter:image" content="[%img%]">
        <meta name="twitter:title" content="[%title%]">
        <meta name="twitter:description" content="[%description%]">
        <meta name="twitter:site" content="@user">
        <meta name="twitter:creator" content="@user">

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
        <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#FFFFFF">

        <!-- manifest -->
        <link rel="manifest" href="../manifest.json">
        <meta name="theme-color" content="#FFFFFF">
        <meta name="msapplication-config" content="../browserconfig.xml">
        <meta name="msapplication-TileColor" content="#FFFFFF">

        <!-- Vendors -->
        <link href="../vendors/rakuda/assets/plugins/dropzone/css/dropzone.css" rel="stylesheet">
        <link href="../vendors/rakuda/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
        <link href="../vendors/rakuda/assets/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="../vendors/rakuda/assets/css/animate.css" rel="stylesheet"/>
        <link href="../vendors/rakuda/assets/css/icons.css" rel="stylesheet"/>
        <link href="../vendors/rakuda/assets/css/sidebar-menu.css" rel="stylesheet"/>
        <link href="../vendors/rakuda/assets/css/app-style.css" rel="stylesheet"/>

        <!-- Actual styles -->
        <link href="../fonts/fonts.css" rel="stylesheet"/>
        <link href="../overrides/colors-override.css" rel="stylesheet"/>
        <link href="../styles/style.css" rel="stylesheet">

    </head>
    <body>

        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <!-- Start wrapper-->
        <div id="wrapper">

            <!--Start sidebar-wrapper-->
            <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
                <div class="brand-logo">
                    <a href="index.html">
                        <img src="../content/logo-icon-sidebar.png" alt="logo icon">
                    </a>
                </div>
                <ul class="sidebar-menu do-nicescrol">
                    <li class="sidebar-header">
                        Очное направление
                    </li>
                    <li>
                        <a class="waves-effect" href="/groups/">
                            <i class="fa fa-users"></i>
                            <span>Мои группы</span>
                        </a>
                    </li>
                    <li class="sidebar-header">
                        Обучение
                    </li>
                    <li>
                        <a class="waves-effect" href="#">
                            <i class="fa fa-folder"></i>
                            <span>Предметы</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="/subject/8/"><i aria-hidden="true" class="fa fa-angle-double-right"></i> <span>Алгебра</span></a>
                            </li>
                            <li>
                                <a href="/subject/4/"><i aria-hidden="true" class="fa fa-angle-double-right"></i> <span>Английский язык</span></a>
                            </li>
                            <li>
                                <a href="/subject/9/"><i aria-hidden="true" class="fa fa-angle-double-right"></i> <span>История</span></a>
                            </li>
                            <li>
                                <a href="/subject/5/"><i aria-hidden="true" class="fa fa-angle-double-right"></i> <span>Литература</span></a>
                            </li>
                            <li>
                                <a href="/subject/1/"><i aria-hidden="true" class="fa fa-angle-double-right"></i> <span>Математика</span></a>
                            </li>
                            <li>
                                <a href="/subject/2/"><i aria-hidden="true" class="fa fa-angle-double-right"></i> <span>Русский язык</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="active">
                        <a class="waves-effect" href="/profile/courses/"><i class="fa fa-book"></i> <span>Мои курсы</span></a>
                    </li>
                    <li class="sidebar-header">Профиль</li>
                    <li>
                        <a class="waves-effect" href="/profile/statistics/"><i class="fa fa-trophy"></i> <span>Мои достижения</span></a>
                    </li>
                    <li>
                        <a class="waves-effect" href="/profile/settings/"><i class="fa fa-cogs"></i> <span>Мои настройки</span></a>
                    </li>
                </ul>
            </div>
            <!--End sidebar-wrapper-->

            <!--Start topbar header-->
            <header class="topbar-nav">
                <nav class="navbar navbar-expand fixed-top bg-white">
                    <ul class="navbar-nav mr-auto align-items-center">
                        <li class="nav-item">
                            <a class="nav-link toggle-menu" href="javascript:void();">
                                <i class="icon-menu menu-icon"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav align-items-center right-nav-link">

                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                                <span class="user-profile"><img src="https://via.placeholder.com/110x110" class="img-circle" alt="user avatar"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-item user-details">
                                    <a href="#">
                                        <div class="media">
                                            <div class="avatar"><img class="align-self-start mr-3" src="https://via.placeholder.com/110x110" alt="user avatar"></div>
                                            <div class="media-body">
                                                <h6 class="mt-2 user-title">Katrina Mccoy</h6>
                                                <p class="user-subtitle">mccoy@example.com</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Inbox</li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Account</li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item"><i class="icon-settings mr-2"></i> Setting</li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item"><i class="icon-power mr-2"></i> Logout</li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </header>
            <!--End topbar header-->

            <div class="clearfix"></div>

            <div class="content-wrapper">
                <div class="container-fluid">

                    <!-- Breadcrumb-->
                    <div class="pt-3 pb-3">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i aria-hidden="true" class="fa fa-long-arrow-left"></i> Мои курсы</a></li>
                        </ol>
                        <h4 class="page-title">Онлайн-курс Математика 100 баллов (22/23 г.)</h4>
                    </div>
                    <!-- End Breadcrumb-->


                    <div class="course">
                        <div class="course__navigation">
                            <ul class="nav nav-tabs nav-tabs-primary">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#course">Курс</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#progress">Прогресс</a>
                                </li>
                            </ul>
                        </div>
                        <div class="course__jumbotron">
                            <!-- Мобильные табы -->
                            <div class="tab-content">
                                <!-- Первая таба (Вводный текст и картинка) -->
                                <div class="tab-pane fade show active" id="course">
                                    <div class="ege-welcome">
                                        <div class="ege-welcome__body">
                                            <div class="ege-welcome__body-inner ege-card">
                                                <img class="ege-welcome__illustration" src="../content/welcome@3x.png" width="220" alt="">
                                                <div class="ege-welcome__summary">
                                                    <h2 class="ege-welcome__heading">
                                                        Добро пожаловать на курс!<br class="hidden-xs">
                                                        Начни обучение с оценки своих знаний.
                                                    </h2>
                                                    <div class="ege-welcome__description">
                                                        Пройди тест и получи примерное представление о своих сильных и слабых сторонах, что поможет тебе в обучении на курсе.
                                                    </div>
                                                    <a class="ege-welcome__begin btn btn-primary" href="#">Начать тестирование</a>
                                                </div>
                                            </div>
                                        </div>
                                        <section class="ege-welcome__event">
                                            <div class="ege-welcome__event-inner ege-card">
                                                <h3 class="ege-welcome__event-heading">
                                                    Скоро начнётся
                                                </h3>
                                                <div class="ege-welcome__event-body">
                                                    <div class="ege-welcome__time">
                                                        <i aria-hidden="true" class="fa fa-calendar-o"></i>
                                                        05 июня в 11:00
                                                    </div>
                                                    <div class="ege-welcome__topic">
                                                        Прогрессии. Задачи на кредиты и вклады – подготовительные.
                                                    </div>
                                                    <div class="ege-welcome__details">
                                                        <a class="link" href="#">Все мастер-классы</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                                <!-- Вторая таба (бегунки и проценты) -->
                                <div class="tab-pane fade" id="progress">
                                    <div class="ege-progress">
                                        <div class="ege-progress__item ege-card">
                                            <div class="ege-progress__value">
                                                <div class="ege-progress__chart donut" data-peity='{ "fill": ["#7E8B2E", "#F6F4F2"]}'>1/5</div>
                                                <div class="ege-progress__text-value">75%</div>
                                            </div>
                                            <div class="ege-progress__data">
                                                <div class="ege-progress__numbers">26 <span class="ege-progress__separator">/</span> 31</div>
                                                <div>Пройдено тем</div>
                                            </div>
                                        </div>
                                        <div class="ege-progress__item ege-card">
                                            2
                                        </div>
                                        <div class="ege-progress__item ege-card">
                                            3
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="course__body">
                            <h2 class="card-title">Программа обучения</h2>
                            <ul class="nav nav-tabs nav-tabs-primary">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#tabe-1">Учебник и тренажер</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabe-2">Тесты</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabe-2">Пробные ЕГЭ</a>
                                </li>
                            </ul>
                        </div>
                    </div>



                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias amet aperiam aspernatur assumenda at dignissimos distinctio dolor dolore doloremque ea error excepturi exercitationem impedit inventore necessitatibus, neque nesciunt nulla pariatur porro quasi quia quibusdam reiciendis rerum soluta sunt ut vel vitae voluptas voluptatum. A beatae dolor doloremque dolores dolorum, ducimus, earum excepturi harum laborum non quae, quibusdam ut. Ab accusantium amet consequatur deserunt
                    distinctio dolor dolores earum eius eos eum exercitationem incidunt inventore iste labore nemo nulla, odio odit porro quam quis quos ratione repellendus sapiente similique, sint velit, vitae? Commodi debitis iusto magnam recusandae? Dicta distinctio dolore inventore officiis, praesentium provident repellendus. Consectetur fuga laudantium molestiae nulla pariatur tempore vero vitae! Architecto assumenda cum deserunt ducimus eos exercitationem expedita fugiat iure mollitia odio,
                    officiis praesentium quibusdam, quisquam, repellendus rerum unde voluptatum! Adipisci aliquid aut ea molestias qui. Ad architecto at consequatur, deserunt dolore dolorum eaque earum, exercitationem explicabo impedit in inventore ipsa laborum minima officia praesentium quam quidem, quis quisquam quos rerum sint suscipit unde! Et facilis magnam qui rerum vel! Animi aperiam aspernatur assumenda atque commodi debitis dicta distinctio dolorum enim expedita harum iusto maxime odio, officia
                    pariatur quia ratione similique sunt vel velit. Ad architecto delectus exercitationem illum, inventore ipsam nihil repellendus suscipit tenetur totam! Ab aperiam asperiores blanditiis doloremque inventore ipsam iure iusto laboriosam, minima molestiae non obcaecati odit omnis perferendis quas quisquam quod saepe sed sint, tempora veniam vitae voluptatum. At, incidunt, veniam? Accusamus eligendi eum minima! Eum fugiat fugit in iusto minus nobis officia perferendis placeat quasi quia.
                    Deleniti eaque maiores mollitia. Amet asperiores aspernatur, at atque autem beatae commodi culpa cum debitis dignissimos dolorem doloremque doloribus error eveniet in ipsam ipsum iure magni nemo non obcaecati odit porro provident quam quibusdam quisquam quo quos ratione recusandae repellendus sapiente sed sit suscipit tenetur unde ut voluptates! Accusamus amet animi aperiam culpa dolore, earum eius est ex expedita facere facilis fugit inventore ipsa libero magnam magni maiores neque
                    nobis odit omnis optio pariatur perspiciatis possimus quidem saepe sit sunt tempora temporibus tenetur voluptatibus. Dolores, excepturi, iure. Aliquid corporis dolor eos expedita in ipsa nobis officia pariatur perferendis possimus sequi, suscipit tempora temporibus. Accusantium consectetur consequuntur harum id provident, quis recusandae saepe veniam! Ad aperiam aspernatur, consequatur dolorem, ea excepturi explicabo ipsam iste iure iusto labore laborum libero minima mollitia non
                    perferendis praesentium quasi sed, tempora totam ullam vero vitae! Ab amet fuga perspiciatis quasi?
                </div>
                <!-- End container-fluid-->

            </div><!--End content-wrapper-->
            <!--Start Back To Top Button-->
            <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
            <!--End Back To Top Button-->

            <!--Start footer-->
            <footer class="footer">
                <div class="container">
                    <div class="text-center">
                        © 2023 ООО «ЕГЭ-Студия»
                    </div>
                </div>
            </footer>
            <!--End footer-->

        </div><!--End wrapper-->


        <!-- Bootstrap core JavaScript-->
        <script src="../vendors/rakuda/assets/js/jquery.min.js"></script>
        <script src="../vendors/rakuda/assets/js/popper.min.js"></script>
        <script src="../vendors/rakuda/assets/js/bootstrap.min.js"></script>
        <script src="../vendors/rakuda/assets/plugins/simplebar/js/simplebar.js"></script>
        <script src="../vendors/rakuda/assets/js/waves.js"></script>
        <script src="../vendors/rakuda/assets/js/sidebar-menu.js"></script>
        <script src="../vendors/rakuda/assets/js/app-script.js"></script>
        <script src="../vendors/rakuda/assets/plugins/dropzone/js/dropzone.js"></script>
        <script src="../vendors/rakuda/assets/plugins/peity/jquery.peity.min.js"></script>
        <script src="../vendors/rakuda/assets/plugins/peity/jquery.peity.init.js"></script>

    </body>
</html>
