<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Онлайн</title>
        <meta name="description" content="[%description%]">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
            <div class="browser">
                Вы используете устаревший браузер. Для корректной работы этого сайта и большинства других вам необходимо перейти на современный&nbsp;браузер.
            </div>
        <![endif]-->

        <div class="container">
            Hello, World!

            <a class="link mfp-handler" href="#login">Login</a>


        </div>


        <!-- .mfp -->
        <div class="window mfp-hide" id="login">
            <button class="window__close mfp-close" type="button">
                Close
            </button>
            <div class="login">
                <h2 class="login__heading">
                    Magnific Popup!
                </h2>
                <div class="login__body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur debitis eligendi fugiat provident sed, velit! At debitis dolore fuga ipsum laudantium nemo reiciendis temporibus voluptates? Ab, accusantium aspernatur cumque dicta ducimus eaque eius eos eum in maxime nihil nulla numquam velit. Accusamus, aliquid atque beatae culpa cupiditate fugiat iure iusto non odit pariatur quae saepe ullam voluptatibus.
                </div>
            </div>
        </div>


        <script src="../vendors/jquery/jquery-3.7.1.min.js"></script>

    </body>
</html>
